.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.root{
     color: #9ab;
    background-color: #2c3440;
    background-image: linear-gradient(#1D232B, #13171C);
    background-position: 0 0;
  min-height: 100vh;
}

html, body, h2, p, h1, h3 {
	margin: 0;
	padding: 0;
	border: 0;
  font-family: Graphik-Regular-Web,sans-serif;
  font-size: 13px;
}

.mainDiv{
  


}

.body{

  color: #9ab;
  
    padding: 30px 0px;
    width: 950px;
    margin: 0 auto;
}

.button{
  border: none;
  background: transparent;
}

html, body, .root{
  min-height: 100%;
  background: #14181c url(/content-bg.png) 0 -1px repeat-x;
  background-attachment: fixed;
}

a{
  text-decoration: none;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.loading {
  font-family:'Graphik Semibold';
  font-weight: 400;
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    max-width: 450px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.69230769rem;
}