body {
  margin: 0;
font-family: 'Graphik Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Graphik Regular';
}


html, body, .root{
  min-height: 100%;
  background-image: linear-gradient(#1D232B, #13171C);
}